[submodule "openplc/OpenPLC_v3"]
	path = openplc/OpenPLC_v3
	url = https://github.com/thiagoralves/OpenPLC_v3.git
[submodule "icssim_framework"]
	path = icssim_framework
	url = https://github.com/bondlegend0110/ICSSIM.git
