[submodule "openplc/OpenPLC_v3"]
	path = openplc/OpenPLC_v3
	url = https://github.com/thiagoralves/OpenPLC_v3.git
[submodule "modelica-rust-modbus-server"]
	path = modelica-rust-modbus-server
	url = https://github.com/bondlegend4/modelica-rust-modbus-server.git