# Ignore the 'test' file
test

# Ignore macOS-specific files
.DS_Store

# Ignore Helm ignore file (optional)
.helmignore

# Ignore the perminent scadalts files
db_conf
db_data
tomcat_log

#python 
bin
include
lib
env
pyvenv.cfg
__pycache__

build