# Ignore the 'test' file
test

# Ignore macOS-specific files
.DS_Store

# Ignore Helm ignore file (optional)
.helmignore

# Ignore the perminent scadalts files
db_conf
db_data
tomcat_log

# Ignoring OpenPLC while i figure out how to properly incorporate it
openplc